
div		{ color: #000000; font: 12px arial, sans-serif; font-weight: normal; }

.title 		{ color: #000000; font: 14px arial, sans-serif; font-weight: bold; }

.hilite		{ color: #66FF00; }

a:link		{ color: #0066FF; text-decoration: none; }

a:visited	{ color: #0066FF; text-decoration: none; }

a:active	{ color: #0066FF; text-decoration: none; }

a:hover		{ color: #FF9900; text-decoration: none; }

.textareacode	{ font: 12px arial, sans-serif; font-weight: normal; width: 580px; background-color:#F0F0F0; border: #000000 1px solid; }

/* IMPORT GOOGLE FONTS */

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);




/* NEWS FRAME AREA TOP LEVEL PAGE - WIDTH ADDS BORDER */

#news_iframe_scroll	{
		width: 100%;
		
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		
		}

#news_iframe_scroll iframe 
		{
		width: 100%;
		height: 630px; /* IF YOU EDIT HEIGHT EDIT THE SCROLLING SCRIPT HEIGHT!!!! */
		display: block;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
		}

.news_scroll-title 
		{
		color: #FFFFFF;
		font: normal 20px "Droid Sans", arial, sans-serif;
		text-align: center;
		background-color: #112222;
		padding: 5px 5px 5px 5px;
		border-radius:4px;
		border-bottom: #fff 6px solid;
		}




/* EMBEDDED NEWS PAGE BODY */

#NewsDiv	{ position: absolute; left: 0; top: 0px; width: 100%; }

body.news-scroll {
		background-color: #FFFFFF;
		margin: 0;
		padding: 0;
		border: 0;
		}

/* FONTS & PADDING */

.scroll-text-if	{
		color: #666666;
		font: normal 14px "Droid Sans", arial, sans-serif;
		text-align: left;
		padding: 8px 7px 0px 7px;
		}

.scroll-title-if {
		color: #000000;
		font: bold 15px "Droid Sans", arial, sans-serif;
		text-align: left;
		border-bottom: #666666 0px solid;
		}

/* EMBEDDED NEWS PAGE LINK COLORS */

.news-scroll a:link	{ color: #0033FF; text-decoration: none; }

.news-scroll a:visited	{ color: #6633FF; text-decoration: none; }

.news-scroll a:active	{ color: #0033FF; text-decoration: none; }

.news-scroll a:hover	{ color: #6699FF; text-decoration: underline; }



@media (max-width: 730px) {
	
	#news_iframe_scroll iframe {
		height:300px;
	}
	
}